body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}

.container {
    width: 60%;
    margin: 30px auto;
    padding: 25px;
    background: #1f1f1f;
    border-radius: 12px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background: #2a2a2a;
    border: 1px solid #444;
    color: white;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 15px;
    background: #1976ff;
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button.sending {
    background: orange;
}

button.sent {
    background: green;
}

#popupBox {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 25px;
    border-radius: 10px;
    display: none;
    width: 300px;
    text-align: center;
}
